<div class="flex flex-col justify-center w-full h-screen border">
    <img class="object-center w-56 h-auto mx-auto" src="../../assets/imagenes/red_movil_logo.png" alt="red movil logo"/>
    <p class="mx-auto mt-6 font-medium tracking-tight text-center text-md text-blue-brand-500">
        Felicidades. Has reestablecido tu contraseña
    </p>
    <div class="w-full max-w-md p-6 mx-auto mt-8 rounded-lg shadow-lg">
        <img class="mx-auto" src="../../assets/imagenes/congrats.png" alt="congrats">
        <p class="text-sm text-center">Haz clic en continuar para iniciar sesión</p>
        <button routerLink='/login' class="mx-auto w-full border rounded-lg py-2.5 mt-6 text-md text-white bg-red-brand-500">Continuar</button>
    </div>
    <p class="text-xs tracking-wide text-center text-gray-500 mt-14 -mb-14">Copyright &copy 2021 Producido por Tu Red Móvil.</p>
</div>